header{
  font-size: 20;
  font-family: verdana;
  text-align: left;
  color: white;
}
div.top{
  width: 100%;
  height:auto;
  color: #796760;
  background: url("img/myBackground.jpg");
  background-size: cover;
  position: relative;
  padding: 0 0 400px 0;

}
/*.bigPicture {

  background-size: cover;
  width: 100%;
  height: auto;

  float: left;
}*/
body{
  background-image: url("img/microDot.jpg");
  font-size: 15;
  font-family: verdana;
}

p{
  margin: 40px;
  padding: 30px;
  padding-top: 40px;
  text-align: center;
  border-style: dotted;
  border-color: dimgrey;
  background-color: #FCF2F3;
  color: black;
  font-weight: lighter;
}

div.gallery {
    border: 2px solid pink;
    float: center;
}

div.gallery:hover {
    border: 2px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;

}

div.desc {

    text-align: center;
}
